<div class="flex flex-col sticky border-b border-b-header-gray">
  <div class="bg-header-gray flex flex-row justify-between">
    <div class="flex flex-col w-28 pl-6 p-3">
      <img
        alt="'profile'"
        src="../../../assets/images/profile.svg"
        class="w-10 h-10 ring-2 rounded-full"
        [ngClass]="{
          'ring-red': !homeService.isWsConnected,
          'ring-green': homeService.isWsConnected
        }"
      />
    </div>
    <div class="flex flex-row gap-6 items-center">
      <button mat-icon-button>
        <mat-icon>groups</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
  <div class="w-full flex flex-row justify-start items-center p-3">
    <div class="rounded-lg bg-header-gray w-full fill-header-gray">
      <form [formGroup]="formGroup" class="w-full mat-field">
        <mat-form-field [appearance]="'outline'" class="w-full">
          <input
            type="text"
            matInput
            placeholder="Search or start new chat"
            class="h-full"
            [formControlName]="'searchKey'"
            autocomplete="off"
            class="mb-2 text-xs font-WorkSans"
            (ngModelChange)="onUserSearch($event)"
          />
          <div matPrefix class="flex flex-col justify-center items-center">
            <mat-icon class="text-lg">search</mat-icon>
          </div>
        </mat-form-field>
      </form>
    </div>
    <button mat-icon-button>
      <mat-icon>filter_outline</mat-icon>
    </button>
  </div>
</div>
<div class="overflow-auto max-h-77" *ngIf="roomList?.length; else noData">
  <div
    class="hover:bg-hover-accent"
    *ngFor="let item of roomList"
    [ngClass]="{
      'bg-hover-accent': selectedRoom === item
    }"
  >
    <app-chat-card [roomData]="item" (click)="roomSelected(item)">
    </app-chat-card>
  </div>
</div>

<ng-template #noData>
  <div class="h-72 flex flex-col items-center justify-center">
    No rooms Found
  </div>
</ng-template>
